<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello, {{user.first_name}} {{user.last_name}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{url_for('static',filename='vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{url_for('static',filename='css/creative.min.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- register import -->
    <link href="{{url_for('static',filename='register/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static',filename='register/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{{url_for('static',filename='register/css/agency.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">About</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    

    
     <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" id="homeHeading">Portfolio</h2>

                    <h3 class="section-subheading text-muted">last updated: 
                        {% if photos|length %}
                            {{photos[-1].result_date}}
                        {% else %}
                            -    
                        {% endif %}
                    </h3>
                </div>
            </div>
            <div class="row">
                {% for photo in photos %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href=#{{photo.result_id}} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('static',filename='dataset/'+user.user_id|string+'/'+photo.result_name+'/3.png')}}" class="img-responsive" alt="" width="2000px">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{photo.result_date}}</h4>
                        <p class="text-muted" >
                        {% if photo.description|length > 40 %}
                            {{photo.description[0:35]}}...
                        {% else %}
                            {{photo.description}}    
                        {% endif %}
                        </p>
                    </div>
                </div>
                {%endfor %}﻿
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/podo/{{user.user_id}}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('static',filename='img/portfolio/newone.png')}}" class="img-responsive" alt="" width="2000px">
                    </a>
                    <div class="portfolio-caption">
                        <h4>ADD..</h4>
                        <p class="text-muted">add new one</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <script>
    var today = new Date()
    var curHr = today.getHours()

    if (curHr < 12) {
      document.getElementById("homeHeading").innerHTML = "Good morning, "+"{{user.first_name}} {{user.last_name}}"+".";
    } else if (curHr < 18) {
      document.getElementById("homeHeading").innerHTML =  "Good afternoon, "+"{{user.first_name}} {{user.last_name}}"+".";
    } else {
      document.getElementById("homeHeading").innerHTML =  "Good evening, "+"{{user.first_name}} {{user.last_name}}"+".";
    }
    console.log('good morning')
    </script>
    <!-- IMAGE PREVIEW  -->
    {%for photo in photos%}
    <div class="portfolio-modal modal fade" id="{{photo.result_id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="portfolio-caption">
                        <h4>BACK</h4>
                        </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{user.first_name}} {{user.last_name}}</h2>
                                <p class="item-intro text-muted">Provided by Kasetsart University.</p>
                                <img class="img-responsive img-centered" style="width:400px;height:350px" src="{{url_for('static',filename='dataset/'+user.user_id|string+'/'+photo.result_name+'/2.png')}}" alt="">
                                <p style="word-wrap: break-word;" >{{photo.description}}</p>
                                
                                <ul class="list-inline">
                                    <li>Date: {{photo.result_date}}</li>
                                    <li>Client: {{user.first_name}} {{user.last_name}}</li>
                                    <li>Arch Index (left&right): {{photo.result}}</li>
                                </ul>
                                <a href="{{url_for('static',filename='dataset/'+user.user_id|string+'/'+photo.result_name+'/1.pdf')}}" type="button" class="btn btn-info" target="_blank" ><i class="fa fa-file-image-o"></i> ORIGINAL</a>
                                <a href="{{url_for('static',filename='dataset/'+user.user_id|string+'/'+photo.result_name+'/2.pdf')}}" type="button" class="btn btn-info" target="_blank" ><i class="fa fa-file-image-o"></i> PRESSURE</a>
                                <a href="{{url_for('static',filename='dataset/'+user.user_id|string+'/'+photo.result_name+'/3.pdf')}}" type="button" class="btn btn-info" target="_blank" ><i class="fa fa-file-pdf-o"></i> REPORT</a>
                                <a href="/delete?userId={{user.user_id}}&result_name={{photo.result_name}}" type="button" class="btn btn-danger" ><i class="fa fa-trash" aria-hidden="true"></i> delete</a>
                                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor %}
    
    <!-- jQuery -->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{url_for('static',filename='vendor/scrollreveal/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

    <!-- Theme JavaScript -->
    <script src="{{url_for('static',filename='js/creative.min.js')}}"></script>

</body>

</html>
