<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KUPodoscope</title>

    <!-- Bootstrap Core CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{url_for('static',filename='css/landing-page.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static',filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{url_for('static',filename='register/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static',filename='register/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{{url_for('static',filename='register/css/agency.min.css')}}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Start Podo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a id="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>KUPodoscope</h1>
                        <form action="" method="post">
                        <input type="text" autofocus="autofocus" class="userId_input" name="userId" value='{{request.form.userId}}' placeholder="Enter your ID" 
                         style="border:0;outline:0;background:transparent;border-bottom: 1px solid white;font-size:35px;text-align: center" >
                        
                        <script>
                        $(document).ready(function() {
                            $('.userId_input').keydown(function(event) {
                                if (event.keyCode == 13) {
                                    this.form.submit();
                                    return false;
                                 }
                            });
                        </script>
                        <!-- <hr class="intro-divider"> -->
                        <ul style="color:red">{{error}}</ul>
                        <ul class="list-inline intro-social-buttons">
                            <li class='page-scroll' href="#contact">
                                <a class="btn btn-default btn-lg"><i class="   fa fa-user-plus"> </i> <span class="network-name">REGISTER</span></a>
                            </li>
                            <li >
                                <button class="btn btn-default btn-lg" > <span class="network-name"><i class="glyphicon glyphicon-log-in"></i> LOG IN</span></button>
                            </li>
                            
                        </ul>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  id="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Podoscope<br>using IMAGE PROCESSING</h2>
                    <p class="lead">These devices reveal the foot's load-bearing zones, other diverse characteristics and possible malformations which can lead to postural anomalies and pain. Examination results can help in the choice of orthopedic insoles.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{url_for('static',filename='img/ipad2.png')}}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Technologies<br>by Kasetsart University</h2>
                    <p class="lead">The simplest podoscopes use mirrors to display the footprints. Fluorescent models orient the light to eliminate annoying reflections, providing a clearer view of the underside of the foot.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{url_for('static',filename='img/dog.png')}}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Support by<br>Kasetsart university</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{url_for('static',filename='img/ks.png')}}" alt="" width="300">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- /.banner -->
    <style type="text/css">
        ::-webkit-input-placeholder {
          font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-weight: 700;
          color: #e0dbdb;
        }
        section#contact ::-webkit-input-placeholder {
          font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-weight: 700;
          color: #848383;
        }
        select {
        font-family: Arial, sans-serif;
        font-size: 100px;
    }
    </style>
<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">REGISTER</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="/register" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="รหัสประจำตัว *" id="userId" name="userId" value="{{request.form.userId}}" required data-validation-required-message="Please enter your Id-card." style="font-size:30px;">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input  type="text" class="form-control" placeholder="ชื่อ *" id="firstname" name="firstname" value="{{request.form.firstname}}" required data-validation-required-message="Please enter your firstname." style="font-size:30px;">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="นามสกุล *" id="lastname" name="lastname" value="{{request.form.lastname}}" required data-validation-required-message="Please enter your lastname." style="font-size:30px;">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                <div style="color:#FFF;font-size:40px;font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;">
                                <input style="color:#848383" type="date" name="birthdate" >  
                                    <!-- <input type="text" class="form-control" placeholder="Your Birth Date *" id="birthdate" name="birthdate" value="{{request.form.birthdate}}" required data-validation-required-message="Please enter your birthdate." style="font-size:30px;">
                                    <p class="help-block text-danger"></p> -->
                                </div>
                                </div>
                                <div   class="form-group">
                                <div style="color:#FFF;font-size:40px;font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;">
                                <div>เพศ
                                <select style="color:#848383;font-size:40px"  name="gender">
                                    <option value="ชาย">ชาย</option> 
                                    <option value="หญิง">หญิง</option> 
                                 </select> 
                                 </div></div>
                                 
                                    <p class="help-block text-danger"></p>
                                </div>
                                
                            </div>
                           
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">REGISTER</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static',filename='js/bootstrap.min.j')}}s"></script>

    <!-- jQuery -->
    <script src="{{url_for('static',filename='register/vendor/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static',filename='register/vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{url_for('static',filename='register/js/jqBootstrapValidation.js')}}"></script>
    <script src="{{url_for('static',filename='register/js/contact_me.js')}}"></script>

    <!-- Theme JavaScript -->
    <script src="{{url_for('static',filename='register/js/agency.min.js')}}"></script>
    <script type="text/javascript">
        $(".page-scroll").click(function() {
        $('html, body').animate({
            scrollTop: $($.attr(this,'href')).offset().top
        }, 500);
});
    </script>

</body>

</html>
