<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Capture!</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{url_for('static',filename='vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{url_for('static',filename='css/creative.min.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- register import -->
    <link href="{{url_for('static',filename='register/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static',filename='register/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{{url_for('static',filename='register/css/agency.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{image}}</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                <video id="vidDisplay"  class="img-responsive" autoplay="true">No Video support</video>
>                                </div>
                                
                            </div>
                            <input id="imagebase64" type="hidden" name="imagebase64" value={{request.form.imagebase64}}>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Add you description here *" form="contactForm" name="description" value={{request.form.description}} id="message" required data-validation-required-message="Please enter a description."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                               <a id="capture" onclick="Play()"  class="btn btn-default btn-xl sr-button page-scroll">CAPTURE</a>
                               <!-- <a id="capture"  onclick="Save()" class="btn btn-default btn-xl sr-button page-scroll">SAVE</a> -->
                                <button type="submit" name="confirm" class="btn btn-xl" disabled>CONFIRM</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <style type="text/css">
    .behind_container {
    position: fixed;
    top: -3000px;
    left:-1000px;
    }
    #vidDisplay
    {
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    }
    </style>

   <!-- 4 times -->
    <canvas class='behind_container' id="canvas" width="1200" height="1044"></canvas> 
    <img class='behind_container' id="photo" src="" alt=""></img>


    <script src="{{url_for('static',filename='js/manage_cam.js')}}"></script>
    <!-- jQuery -->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{url_for('static',filename='vendor/scrollreveal/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

    <!-- Theme JavaScript -->
    <script src="{{url_for('static',filename='js/creative.min.js')}}"></script>

</body>

</html>
